<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
  {{style('assets/bootstrap.min.css')}}
  

</head>
<body>
<header>
  <h1 class="entete">MA PREMIERE PAGE EN ADONIS.JS</h1>
</header>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/7.png" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="assets/img/8.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/9.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="row">
  <div class="col-sm-4">
    <div class="">
      <div class="card-body">
        <h4 class="text">BONJOUR</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="">
      <div class="card-body">
        <h4 class="text">BONJOUR</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="">
      <div class="card-body">
        <h4 class="text">BONJOUR</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <h2 class="pieddepage" style="color:aliceblue;">By SOW ASSATOU</h2>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js"></script>
{{script('assets/bootstrap.min.js')}}
</body>
</html>
